{% extends "base.html" %}
????
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<link
        crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        rel="stylesheet">

{% block index %}
<div class="jumbotron">
    {% if user.is_authenticated %}
    <p>Logged as {{ user.username }}</p>
    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
        Login
    </a>
    {% endif %}
</div>

<div class="container-fluid">
    {% for l in all_listings %}
    <div>
        <h2>{{ l.user_id }}</h2>
        <p>{{ l.comment }}</p>
        <p>Posted by {{ l.user.username }} | {{ l.date }}</p>
    </div>
    {% endfor %}
</div>


    <!-- import #zmmtg-root css -->
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.8.1/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.8.1/css/react-select.css" />

    <!-- import ZoomMtg dependencies -->
    <script src="https://source.zoom.us/1.8.1/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/jquery.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/lodash.min.js"></script>

    <!-- import ZoomMtg -->
    <script src="https://source.zoom.us/zoom-meeting-1.8.1.min.js"></script>

    <!-- import local .js file -->
    <script src="js/index.js"></script>

        <div id="zmmtg-root"></div>
    <div id="aria-notify-area"></div>
<body class="ReactModal__Body--open">
pl
    <!-- added on import -->
    <div id="zmmtg-root"></div>
    <div id="aria-notify-area"></div>

    <!-- added on meeting init -->
    <div class="ReactModalPortal"></div>
    <div class="ReactModalPortal"></div>
    <div class="ReactModalPortal"></div>
    <div class="ReactModalPortal"></div>
    <div class="global-pop-up-box"></div>
    <div class="sharer-controlbar-container sharer-controlbar-container--hidden">
    </div>
</body>
</html>
❤